body {
  margin: 0;
  padding: 0
}

a {
  text-decoration: none;
}

header.site-header {
  background-color: black;
  height: 165px;
  background-image: url("../images/johanan_small1.jpg");
  background-repeat: no-repeat;
}

header.site-header a {
  color: blue;
}
header.site-header a:hover {
  color: white;
}

footer.site-footer {
 background-color: #D6EDFF;
 color: #222;
 position: relative;
 margin: 8rem 0px 0px;
 padding: 1rem 0px;
}
footer.site-footer a {
  color: blue;
}
.inner {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 0px auto;
}


main.content {
  margin-left: 1em;
  margin-right: 1em;
}

main.content a:hover {
  text-decoration: underline;
}

code {
/*  padding-left: 0.5ex;
  padding-right: 0.5ex;*/
  background: #f0f0f0;
  color: red;
}

pre {
  /* Round Corners */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1ex;
  margin-left: 1em;
  border: 1px solid #c0c0c0;
  background: #f0f0f0;
}

pre code {
  color: black;
}

div.post_bottom_spacer {
  width: %100;
  border: 1px solid black;
  margin-top: 2em;
}

a.a_more_articles {
  color: blue;
  text-decoration: none;
}

/* Add spacing above headers */
h2 {
    padding-top: 1em;
}
h3 {
    padding-top: 1ex;
}

/* Table for Python-Subprocess */
div#summary1 table {
    border-spacing: 0px;
    border-collapse: collapse;
}
div#summary1 table thead tr {
    border-bottom: 1px solid black;
}
div#summary1 table td {
    padding: 6px;
}
div#summary1 table tr:nth-child(even) {
    background: #EEE;
}
/* override the color of the 'shell parameter' header row  */
div#summary1 table thead tr th code {
    color: black;
    background: transparent;
}
/* override the background color of the 'method' column */
div#summary1 table tr td code {
    background: transparent;
}